# Data Cleaning

This notebook is more like an exploration of data, so it is going to be a bit messy. (I mean A LOT!!) ;)

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [67]:
gini_df = pd.read_csv("../data/gini_dataset/gini.csv",skiprows=4)
inflation_and_econ_ind_df =pd.read_csv("../data/global_economic_and_human_dev/Economic_Indicators_And_Inflation.csv")
global_inflation_df = pd.read_csv("../data/global_inflation/global_inflation_data.csv")
education_df = pd.read_csv("../data/How_Education_Drives_Economic_Growth/education-economy-data.csv")
socio_df = pd.read_csv("../data/Socio_Economic_Country_Profiles/soci_econ_country_profiles.csv")
world_bank_df = pd.read_csv("../data/world_bank_data/Countries.csv")

### Dataframe lists
1. [gini_df](#gini_df-cleaning)
2. [inflation_and_econ_ind_df](#inflation_and_econ_ind_df-cleaning)
3. [global_inflation_df](#global_inflation_df-cleaning)
4. [education_df](#education_df-cleaning)
5. [socio_df](#socio_df-cleaning)
6. [world_bank_df](#world_bank_df-cleaning)

### gini_df cleaning

In [4]:
gini_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,51.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,26.7,44.2,44.6,40.2,57.4,49.4,38.3,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,51.5,NaN,NaN,NaN
265,Zimbabwe,ZWE,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,44.3,NaN,50.3,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
gini_df['Indicator Name'].unique()

array(['Gini index'], dtype=object)

In [15]:
gini_df['Indicator Code'].unique()

array(['SI.POV.GINI'], dtype=object)

In [16]:
gini_df['Country Code'].unique()

array(['ABW', 'AFE', 'AFG', 'AFW', 'AGO', 'ALB', 'AND', 'ARB', 'ARE',
       'ARG', 'ARM', 'ASM', 'ATG', 'AUS', 'AUT', 'AZE', 'BDI', 'BEL',
       'BEN', 'BFA', 'BGD', 'BGR', 'BHR', 'BHS', 'BIH', 'BLR', 'BLZ',
       'BMU', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN', 'BWA', 'CAF', 'CAN',
       'CEB', 'CHE', 'CHI', 'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG',
       'COL', 'COM', 'CPV', 'CRI', 'CSS', 'CUB', 'CUW', 'CYM', 'CYP',
       'CZE', 'DEU', 'DJI', 'DMA', 'DNK', 'DOM', 'DZA', 'EAP', 'EAR',
       'EAS', 'ECA', 'ECS', 'ECU', 'EGY', 'EMU', 'ERI', 'ESP', 'EST',
       'ETH', 'EUU', 'FCS', 'FIN', 'FJI', 'FRA', 'FRO', 'FSM', 'GAB',
       'GBR', 'GEO', 'GHA', 'GIB', 'GIN', 'GMB', 'GNB', 'GNQ', 'GRC',
       'GRD', 'GRL', 'GTM', 'GUM', 'GUY', 'HIC', 'HKG', 'HND', 'HPC',
       'HRV', 'HTI', 'HUN', 'IBD', 'IBT', 'IDA', 'IDB', 'IDN', 'IDX',
       'IMN', 'IND', 'INX', 'IRL', 'IRN', 'IRQ', 'ISL', 'ISR', 'ITA',
       'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM', 'KIR', 'KNA',
       'KOR', 'KWT', 'LAC', 'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LCN',
       'LDC', 'LIC', 'LIE', 'LKA', 'LMC', 'LMY', 'LSO', 'LTE', 'LTU',
       'LUX', 'LVA', 'MAC', 'MAF', 'MAR', 'MCO', 'MDA', 'MDG', 'MDV',
       'MEA', 'MEX', 'MHL', 'MIC', 'MKD', 'MLI', 'MLT', 'MMR', 'MNA',
       'MNE', 'MNG', 'MNP', 'MOZ', 'MRT', 'MUS', 'MWI', 'MYS', 'NAC',
       'NAM', 'NCL', 'NER', 'NGA', 'NIC', 'NLD', 'NOR', 'NPL', 'NRU',
       'NZL', 'OED', 'OMN', 'OSS', 'PAK', 'PAN', 'PER', 'PHL', 'PLW',
       'PNG', 'POL', 'PRE', 'PRI', 'PRK', 'PRT', 'PRY', 'PSE', 'PSS',
       'PST', 'PYF', 'QAT', 'ROU', 'RUS', 'RWA', 'SAS', 'SAU', 'SDN',
       'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SMR', 'SOM', 'SRB', 'SSA',
       'SSD', 'SSF', 'SST', 'STP', 'SUR', 'SVK', 'SVN', 'SWE', 'SWZ',
       'SXM', 'SYC', 'SYR', 'TCA', 'TCD', 'TEA', 'TEC', 'TGO', 'THA',
       'TJK', 'TKM', 'TLA', 'TLS', 'TMN', 'TON', 'TSA', 'TSS', 'TTO',
       'TUN', 'TUR', 'TUV', 'TZA', 'UGA', 'UKR', 'UMC', 'URY', 'USA',
       'UZB', 'VCT', 'VEN', 'VGB', 'VIR', 'VNM', 'VUT', 'WLD', 'WSM',
       'XKX', 'YEM', 'ZAF', 'ZMB', 'ZWE'], dtype=object)

In [17]:
gini_df.drop('Indicator Name', axis=1, inplace=True)
gini_df.drop('Indicator Code', axis=1, inplace=True)
gini_df

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,51.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.7,44.2,44.6,40.2,57.4,49.4,38.3,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,51.5,NaN,NaN,NaN
265,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,44.3,NaN,50.3,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
gini_df['Country Name'].nunique()

266

In [35]:
gini_df['Country Name'].unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives',
       'Middle East, North Africa, Afghanistan & Pakistan', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East, North Africa, Afghanistan & Pakistan (excluding high income)',
       'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique',
       'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'North America',
       'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand',
       'OECD members', 'Oman', 'Other small states', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland',
       'Pre-demographic dividend', 'Puerto Rico (US)',
       "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia, Fed. Rep.',
       'Serbia', 'Sub-Saharan Africa (excluding high income)',
       'South Sudan', 'Sub-Saharan Africa', 'Small states',
       'Sao Tome and Principe', 'Suriname', 'Slovak Republic', 'Slovenia',
       'Sweden', 'Eswatini', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste',
       'Middle East, North Africa, Afghanistan & Pakistan (IDA & IBRD)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Viet Nam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
gini_df.dropna(axis=1, how='all') # remove the column that contains all NaN

In [ ]:
gini_df.columns

In [ ]:
years_col = [col for col in gini_df.columns if col.isdigit()]
years_col[:20]

In [ ]:
cols_to_drop = [col for col in gini_df.columns if col.isdigit() and int(col) < 1980]
print(cols_to_drop)

In [ ]:
gini_df.drop(columns=cols_to_drop)

In [ ]:
gini_df.drop('Country Code', axis=1, inplace=True)

In [ ]:
gini_df

### inflation_and_econ_ind_df cleaning

In [73]:
inflation_and_econ_ind_df

,Country,Year,GDP (in billion USD),Inflation Rate (%),Unemployment Rate (%),Economic Growth (%)
0,USA,2010,15000.0,1.64,9.63,2.55
1,USA,2011,15500.0,3.16,8.94,1.53
2,USA,2012,16000.0,2.07,8.10,2.28
3,USA,2013,16500.0,1.50,7.70,1.84
4,USA,2014,17000.0,1.62,7.25,2.53
...,...,...,...,...,...,...
299,Pakistan,2021,296.0,8.90,5.00,5.70
300,Pakistan,2022,350.0,12.30,5.00,6.00
301,Pakistan,2023,400.0,20.00,5.00,4.00
302,Pakistan,2024,450.0,25.00,5.00,3.00
303,Pakistan,2025,500.0,20.00,5.00,3.20

In [74]:
inflation_and_econ_ind_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 304 non-null    object
 1    Year                   304 non-null    int64
 2    GDP (in billion USD)   304 non-null    float64
 3    Inflation Rate (%)     304 non-null    float64
 4    Unemployment Rate (%)  304 non-null    float64
 5    Economic Growth (%)    304 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 14.4+ KB

In [75]:
inflation_and_econ_ind_df['Country'].unique()

array(['USA', 'China', 'Japan', 'Germany', 'India', 'UK', 'Canada',
       'Russia', 'Australia', 'France', 'South Korea', 'Saudi Arabia',
       'Brazil', 'Italy', 'Bangladesh', 'Indonesia', 'Turkey', 'Malaysia',
       'Pakistan'], dtype=object)

In [76]:
inflation_and_econ_ind_df['Country'].nunique()

19

In [80]:
for col in inflation_and_econ_ind_df.columns:
    print(repr(col))

'Country'
' Year'
' GDP (in billion USD)'
' Inflation Rate (%)'
' Unemployment Rate (%)'
' Economic Growth (%)'

In [83]:
inflation_and_econ_ind_df.columns = inflation_and_econ_ind_df.columns.str.strip()
inflation_and_econ_ind_df.columns

Index(['Country', 'Year', 'GDP (in billion USD)', 'Inflation Rate (%)',
       'Unemployment Rate (%)', 'Economic Growth (%)'],
      dtype='object')

In [84]:
inflation_and_econ_ind_df['Year'].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021, 2022, 2023, 2024, 2025], dtype=int64)

### global_inflation_df cleaning

In [21]:
global_inflation_df

,country_name,indicator_name,1980,1981,1982,1983,1984,1985,1986,1987,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Annual average inflation (consumer prices) rate,13.4,22.2,18.2,15.9,20.4,8.7,-2.1,18.4,...,-0.66,4.38,4.98,0.63,2.3,5.44,5.06,13.71,9.1,NaN
1,Albania,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.90,1.30,2.00,2.00,1.4,1.60,2.00,6.70,4.8,4.0
2,Algeria,Annual average inflation (consumer prices) rate,9.7,14.6,6.6,7.8,6.3,10.4,14.0,5.9,...,4.80,6.40,5.60,4.30,2.0,2.40,7.20,9.30,9.0,6.8
3,Andorra,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.10,-0.40,2.60,1.00,0.5,0.10,1.70,6.20,5.2,3.5
4,Angola,Annual average inflation (consumer prices) rate,46.7,1.4,1.8,1.8,1.8,1.8,1.8,1.8,...,9.20,30.70,29.80,19.60,17.1,22.30,25.80,21.40,13.1,22.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Vietnam,Annual average inflation (consumer prices) rate,25.2,69.6,95.4,49.5,64.9,91.6,453.5,360.4,...,0.60,2.70,3.50,3.50,2.8,3.20,1.80,3.20,3.4,3.4
192,West Bank and Gaza,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.40,-0.20,0.20,-0.20,1.6,-0.70,1.20,3.70,3.4,2.7
193,Yemen,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.00,21.30,30.40,33.60,15.7,21.70,31.50,29.50,14.9,17.3
194,Zambia,Annual average inflation (consumer prices) rate,11.7,14.0,12.5,19.7,20.0,37.4,48.0,43.0,...,10.10,17.90,6.60,7.50,9.2,15.70,22.00,11.00,10.6,9.6
195,Zimbabwe,Annual average inflation (consumer prices) rate,NaN,5.6,0.6,-8.5,-1.9,-16.0,10.7,12.8,...,-2.40,-1.60,0.90,10.60,255.3,557.20,98.50,193.40,314.5,222.4

In [65]:
global_inflation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 46 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  196 non-null    object
 1   1980          140 non-null    float64
 2   1981          144 non-null    float64
 3   1982          145 non-null    float64
 4   1983          145 non-null    float64
 5   1984          145 non-null    float64
 6   1985          145 non-null    float64
 7   1986          145 non-null    float64
 8   1987          147 non-null    float64
 9   1988          147 non-null    float64
 10  1989          147 non-null    float64
 11  1990          150 non-null    float64
 12  1991          155 non-null    float64
 13  1992          158 non-null    float64
 14  1993          169 non-null    float64
 15  1994          171 non-null    float64
 16  1995          172 non-null    float64
 17  1996          176 non-null    float64
 18  1997          179 non-null    float64
 19  1998          181 non-null    float64
 20  1999          182 non-null    float64
 21  2000          183 non-null    float64
 22  2001          187 non-null    float64
 23  2002          189 non-null    float64
 24  2003          190 non-null    float64
 25  2004          191 non-null    float64
 26  2005          193 non-null    float64
 27  2006          193 non-null    float64
 28  2007          193 non-null    float64
 29  2008          193 non-null    float64
 30  2009          193 non-null    float64
 31  2010          193 non-null    float64
 32  2011          192 non-null    float64
 33  2012          193 non-null    float64
 34  2013          194 non-null    float64
 35  2014          194 non-null    float64
 36  2015          194 non-null    float64
 37  2016          194 non-null    float64
 38  2017          195 non-null    float64
 39  2018          195 non-null    float64
 40  2019          195 non-null    float64
 41  2020          194 non-null    float64
 42  2021          194 non-null    float64
 43  2022          194 non-null    float64
 44  2023          192 non-null    float64
 45  2024          191 non-null    float64
dtypes: float64(45), object(1)
memory usage: 70.6+ KB

In [23]:
global_inflation_df['indicator_name'].unique()

array(['Annual average inflation (consumer prices) rate'], dtype=object)

In [24]:
global_inflation_df.drop('indicator_name', axis=1, inplace=True)

In [60]:
global_inflation_df['country_name'].nunique()

196

In [25]:
global_inflation_df

,country_name,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,13.4,22.2,18.2,15.9,20.4,8.7,-2.1,18.4,27.5,...,-0.66,4.38,4.98,0.63,2.3,5.44,5.06,13.71,9.1,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.90,1.30,2.00,2.00,1.4,1.60,2.00,6.70,4.8,4.0
2,Algeria,9.7,14.6,6.6,7.8,6.3,10.4,14.0,5.9,5.9,...,4.80,6.40,5.60,4.30,2.0,2.40,7.20,9.30,9.0,6.8
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.10,-0.40,2.60,1.00,0.5,0.10,1.70,6.20,5.2,3.5
4,Angola,46.7,1.4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,9.20,30.70,29.80,19.60,17.1,22.30,25.80,21.40,13.1,22.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Vietnam,25.2,69.6,95.4,49.5,64.9,91.6,453.5,360.4,374.4,...,0.60,2.70,3.50,3.50,2.8,3.20,1.80,3.20,3.4,3.4
192,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.40,-0.20,0.20,-0.20,1.6,-0.70,1.20,3.70,3.4,2.7
193,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.00,21.30,30.40,33.60,15.7,21.70,31.50,29.50,14.9,17.3
194,Zambia,11.7,14.0,12.5,19.7,20.0,37.4,48.0,43.0,45.8,...,10.10,17.90,6.60,7.50,9.2,15.70,22.00,11.00,10.6,9.6
195,Zimbabwe,NaN,5.6,0.6,-8.5,-1.9,-16.0,10.7,12.8,-1.1,...,-2.40,-1.60,0.90,10.60,255.3,557.20,98.50,193.40,314.5,222.4

In [40]:
global_inflation_df['country_name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile',
       "China, People's Republic of", 'Colombia', 'Comoros',
       'Congo, Dem. Rep. of the', 'Congo, Republic of ', 'Costa Rica',
       'Croatia', 'Cyprus', 'Czech Republic', "Côte d'Ivoire", 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong SAR', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Republic of', 'Kosovo', 'Kuwait', 'Kyrgyz Republic',
       'Lao P.D.R.', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Lithuania', 'Luxembourg', 'Macao SAR', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. States of',
       'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia ',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan, Republic of', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'São Tomé and Príncipe', 'Taiwan Province of China', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkmenistan', 'Tuvalu',
       'Türkiye, Republic of', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

### education_df cleaning

In [31]:
education_df

,Country,Literacy Rate,Physician Density,GDP (Current USD),GDP Growth (% Annual),GDP per Capita (Current USD),GDP per Capita Category,Unemployment Rate (%),Continent
0,Afghanistan,43.0,0.28,1.723305e+10,2.710887,415.707417,Very Low,13.991,Asia
1,Albania,98.1,1.20,2.354718e+10,3.936625,8575.171134,Mid,10.108,Europe
2,Algeria,81.4,1.72,2.476260e+11,4.100000,5364.027950,Low,11.701,Africa
3,Andorra,100.0,3.33,3.785067e+09,2.583555,46812.448450,High,3.700,Europe
4,Angola,71.1,0.21,8.482465e+10,1.001289,2308.159767,Low,14.537,Africa
...,...,...,...,...,...,...,...,...,...
186,Venezuela,97.1,1.92,3.888648e+11,1.152460,13147.680842,Mid,8.000,South America
187,Vietnam,95.4,0.82,4.297170e+11,5.046431,4282.088517,Low,1.645,Asia
188,Yemen,54.1,0.31,3.387656e+10,-4.408199,477.409029,Very Low,17.091,Asia
189,Zambia,87.4,1.19,2.757796e+10,5.367943,1330.727806,Very Low,5.905,Africa
190,Zimbabwe,89.0,0.21,3.523137e+10,5.336730,2156.034004,Low,8.759,Africa

In [61]:
education_df['Country'].nunique()

191

In [27]:
education_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       191 non-null    object
 1   Literacy Rate                 191 non-null    float64
 2   Physician Density             191 non-null    float64
 3   GDP (Current USD)             191 non-null    float64
 4   GDP Growth (% Annual)         191 non-null    float64
 5   GDP per Capita (Current USD)  191 non-null    float64
 6   GDP per Capita Category       191 non-null    object
 7   Unemployment Rate (%)         191 non-null    float64
 8   Continent                     191 non-null    object
dtypes: float64(6), object(3)
memory usage: 13.6+ KB

### socio_df cleaning

In [25]:
socio_df

,Unnamed: 0,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),...,"Inflation, consumer prices (annual %)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)",Military expenditure (% of GDP),"Population, female","Population, male",Tax revenue (% of GDP),"Taxes on income, profits and capital gains (% of revenue)",Urban population (% of total population)_y
0,0,Argentina,SouthAmerica,2780400,44271,16.2,95.9,632343,2.4,14564.5,...,NaN,79.726,72.924,76.372000,0.856138,22572521.0,21472290.0,10.955501,12.929913,91.749
1,1,Australia,Oceania,7692060,24451,3.2,99.3,1230859,2.4,51352.2,...,1.948647,84.600,80.500,82.500000,2.007966,12349632.0,12252228.0,21.915859,64.110306,85.904
2,2,Austria,WesternEurope,83871,8736,106.0,96.2,376967,1.0,44117.7,...,2.081269,84.000,79.400,81.643902,0.756179,4478340.0,4319226.0,25.355237,27.024073,58.094
3,3,Belarus,EasternEurope,207600,9468,46.7,87.0,54609,-3.9,5750.8,...,6.031837,79.200,69.300,74.129268,1.162417,5077542.0,4420722.0,13.019006,2.933101,78.134
4,4,Belgium,WesternEurope,30528,11429,377.5,97.3,455107,1.5,40277.8,...,2.125971,83.900,79.200,81.492683,0.910371,5766141.0,5609017.0,23.399721,33.727746,97.961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,61,United Arab Emirates,WesternAsia,83600,9400,112.4,262.4,370296,3.8,40438.8,...,1.966826,79.008,76.966,77.647000,NaN,2891723.0,6595480.0,0.066457,NaN,86.248
62,62,United Kingdom,NorthernEurope,242495,66182,273.6,97.4,2858003,2.2,44162.4,...,2.557756,83.100,79.500,81.256098,1.771094,33464674.0,32594185.0,25.523504,33.227524,83.143
63,63,United States of America,NorthernAmerica,9833517,324460,35.5,98.0,18036648,2.6,56053.8,...,2.130110,81.100,76.100,78.539024,3.109010,164193686.0,160791853.0,11.764267,49.600037,82.058
64,64,Venezuela (Bolivarian Republic of),SouthAmerica,912050,31977,36.3,99.0,344331,-6.2,11068.9,...,NaN,76.194,68.523,72.246000,0.487844,14843348.0,14547061.0,NaN,NaN,88.183
65,65,Vietnam,South-easternAsia,330967,95541,308.1,98.0,193241,6.7,2067.9,...,3.520257,79.366,71.124,75.241000,2.267970,47405623.0,47191019.0,NaN,NaN,35.213

In [63]:
socio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 95 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   country                                                      66 non-null     object
 1   Region                                                       66 non-null     object
 2   Surface area (km2)                                           66 non-null     int64
 3   Population in thousands (2017)                               66 non-null     int64
 4   Population density (per km2, 2017)                           66 non-null     float64
 5   Sex ratio (m per 100 f, 2017)                                66 non-null     float64
 6   GDP: Gross domestic product (million current US$)            66 non-null     int64
 7   GDP growth rate (annual %, const. 2005 prices)               66 non-null     float64
 8   GDP per capita (current US$)                                 66 non-null     float64
 9   Economy: Agriculture (% of GVA)                              66 non-null     object
 10  Economy: Industry (% of GVA)                                 66 non-null     float64
 11  Economy: Services and other activity (% of GVA)              66 non-null     float64
 12  Employment: Agriculture (% of employed)                      66 non-null     float64
 13  Employment: Industry (% of employed)                         66 non-null     float64
 14  Employment: Services (% of employed)                         66 non-null     float64
 15  Unemployment (% of labour force)                             66 non-null     float64
 16  Labour force participation (female/male pop. %)              66 non-null     object
 17  Agricultural production index (2004-2006=100)                66 non-null     int64
 18  Food production index (2004-2006=100)                        66 non-null     int64
 19  International trade: Exports (million US$)                   66 non-null     int64
 20  International trade: Imports (million US$)                   66 non-null     int64
 21  International trade: Balance (million US$)                   66 non-null     int64
 22  Balance of payments, current account (million US$)           66 non-null     int64
 23  Population growth rate (average annual %)                    66 non-null     object
 24  Urban population (% of total population)_x                   66 non-null     float64
 25  Urban population growth rate (average annual %)              66 non-null     object
 26  Fertility rate, total (live births per woman)                66 non-null     float64
 27  Population age distribution (0-14 / 60+ years, %)            66 non-null     object
 28  International migrant stock (000/% of total pop.)            66 non-null     object
 29  Refugees and others of concern to UNHCR (in thousands)       66 non-null     object
 30  Infant mortality rate (per 1000 live births                  66 non-null     float64
 31  Health: Total expenditure (% of GDP)                         66 non-null     float64
 32  Health: Physicians (per 1000 pop.)                           66 non-null     object
 33  Education: Government expenditure (% of GDP)                 66 non-null     object
 34  Education: Primary gross enrol. ratio (f/m per 100 pop.)     66 non-null     object
 35  Education: Secondary gross enrol. ratio (f/m per 100 pop.)   66 non-null     object
 36  Education: Tertiary gross enrol. ratio (f/m per 100 pop.)    66 non-null     object
 37  Seats held by women in national parliaments %                66 non-null     float64
 38  Mobile-cellular subscriptions (per 100 inhabitants)          66 non-null     float64
 39  Mobile-cellular subscriptions (per 100 inhabitants).1        66 non-null     float64
 40  Individuals using the Internet (per 100 inhabitants)         66 non-null     int64
 41  Threatened species (number)                                  66 non-null     float64
 42  Forested area (% of land area)                               66 non-null     object
 43  CO2 emission estimates (million tons/tons per capita)        66 non-null     int64
 44  Energy production, primary (Petajoules)                      66 non-null     int64
 45  Energy supply per capita (Gigajoules)                        66 non-null     object
 46  Pop. using improved drinking water (urban/rural, %)          66 non-null     object
 47  Pop. using improved sanitation facilities (urban/rural, %)   66 non-null     object
 48  Net Official Development Assist. received (% of GNI)         66 non-null     int64
 49  Quality Of Life Index                                        66 non-null     float64
 50  Purchasing Power Index                                       66 non-null     float64
 51  Safety Index                                                 66 non-null     float64
 52  Health Care Index                                            66 non-null     float64
 53  Cost of Living                                               66 non-null     float64
 54  Property price to income ratio                               66 non-null     float64
 55  Traffic commute time index                                   66 non-null     float64
 56  Pollution index                                              66 non-null     float64
 57  Climate index                                                66 non-null     float64
 58  Gross Rental Yield City Center                               66 non-null     float64
 59  Gross Rental Yield Outside Center                            66 non-null     float64
 60  Property Price to Rent Ratio City Center                     66 non-null     float64
 61  Property Price to Rent Ratio Outside Center                  66 non-null     float64
 62  Mortgate as percentage of income                             66 non-null     float64
 63  Affordability Index                                          66 non-null     float64
 64  Cost Of Living Index                                         66 non-null     float64
 65  Rent Index                                                   66 non-null     float64
 66  Cost Of Living Plus Rent Index                               66 non-null     float64
 67  Grocery Index                                                66 non-null     float64
 68  Restaurant Price Index                                       66 non-null     float64
 69  Local Purchasing Power Index                                 66 non-null     float64
 70  Access to electricity (% of population)                      66 non-null     float64
 71  Adjusted net national income per capita (constant 2010 US$)  64 non-null     float64
 72  Age dependency ratio (% of working-age population)           66 non-null     float64
 73  Air transport, freight (million ton-km)                      58 non-null     float64
 74  Air transport, passengers carried                            61 non-null     float64
 75  Commercial service exports (current US$)                     63 non-null     float64
 76  Commercial service imports (current US$)                     63 non-null     float64
 77  Consumer price index (2010 = 100)                            64 non-null     float64
 78  Current account balance (% of GDP)                           63 non-null     float64
 79  Current health expenditure (% of GDP)                        65 non-null     float64
 80  Exports of goods and services (% of GDP)                     65 non-null     float64
 81  Gross domestic savings (% of GDP)                            65 non-null     float64
 82  High-technology exports (current US$)                        65 non-null     float64
 83  Human capital index (HCI) (scale 0-1)                        64 non-null     float64
 84  Imports of goods and services (% of GDP)                     65 non-null     float64
 85  Inflation, consumer prices (annual %)                        64 non-null     float64
 86  Life expectancy at birth, female (years)                     66 non-null     float64
 87  Life expectancy at birth, male (years)                       66 non-null     float64
 88  Life expectancy at birth, total (years)                      66 non-null     float64
 89  Military expenditure (% of GDP)                              63 non-null     float64
 90  Population, female                                           66 non-null     float64
 91  Population, male                                             66 non-null     float64
 92  Tax revenue (% of GDP)                                       58 non-null     float64
 93  Taxes on income, profits and capital gains (% of revenue)    57 non-null     float64
 94  Urban population (% of total population)_y                   66 non-null     float64
dtypes: float64(64), int64(13), object(18)
memory usage: 49.1+ KB

In [28]:
socio_df.drop('Unnamed: 0', axis=1, inplace=True)
socio_df

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,"Inflation, consumer prices (annual %)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)",Military expenditure (% of GDP),"Population, female","Population, male",Tax revenue (% of GDP),"Taxes on income, profits and capital gains (% of revenue)",Urban population (% of total population)_y
0,Argentina,SouthAmerica,2780400,44271,16.2,95.9,632343,2.4,14564.5,6.0,...,NaN,79.726,72.924,76.372000,0.856138,22572521.0,21472290.0,10.955501,12.929913,91.749
1,Australia,Oceania,7692060,24451,3.2,99.3,1230859,2.4,51352.2,2.5,...,1.948647,84.600,80.500,82.500000,2.007966,12349632.0,12252228.0,21.915859,64.110306,85.904
2,Austria,WesternEurope,83871,8736,106.0,96.2,376967,1.0,44117.7,1.3,...,2.081269,84.000,79.400,81.643902,0.756179,4478340.0,4319226.0,25.355237,27.024073,58.094
3,Belarus,EasternEurope,207600,9468,46.7,87.0,54609,-3.9,5750.8,7.5,...,6.031837,79.200,69.300,74.129268,1.162417,5077542.0,4420722.0,13.019006,2.933101,78.134
4,Belgium,WesternEurope,30528,11429,377.5,97.3,455107,1.5,40277.8,0.7,...,2.125971,83.900,79.200,81.492683,0.910371,5766141.0,5609017.0,23.399721,33.727746,97.961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,United Arab Emirates,WesternAsia,83600,9400,112.4,262.4,370296,3.8,40438.8,0.7,...,1.966826,79.008,76.966,77.647000,NaN,2891723.0,6595480.0,0.066457,NaN,86.248
62,United Kingdom,NorthernEurope,242495,66182,273.6,97.4,2858003,2.2,44162.4,0.7,...,2.557756,83.100,79.500,81.256098,1.771094,33464674.0,32594185.0,25.523504,33.227524,83.143
63,United States of America,NorthernAmerica,9833517,324460,35.5,98.0,18036648,2.6,56053.8,1.0,...,2.130110,81.100,76.100,78.539024,3.109010,164193686.0,160791853.0,11.764267,49.600037,82.058
64,Venezuela (Bolivarian Republic of),SouthAmerica,912050,31977,36.3,99.0,344331,-6.2,11068.9,5.3,...,NaN,76.194,68.523,72.246000,0.487844,14843348.0,14547061.0,NaN,NaN,88.183
65,Vietnam,South-easternAsia,330967,95541,308.1,98.0,193241,6.7,2067.9,18.9,...,3.520257,79.366,71.124,75.241000,2.267970,47405623.0,47191019.0,NaN,NaN,35.213

In [29]:
socio_df['country'].unique()

array(['Argentina', 'Australia', 'Austria', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Canada', 'Chile',
       'China, Hong Kong SAR', 'China', 'Colombia', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Egypt', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Hungary', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Ireland', 'Israel', 'Italy',
       'Japan', 'Jordan', 'Lebanon', 'Lithuania', 'Malaysia', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Pakistan', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Romania',
       'Russian Federation', 'Saudi Arabia', 'Serbia', 'Singapore',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sweden', 'Switzerland', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Turkey', 'Ukraine',
       'United Arab Emirates', 'United Kingdom',
       'United States of America', 'Venezuela (Bolivarian Republic of)',
       'Vietnam'], dtype=object)

In [62]:
socio_df['country'].nunique()

66

### world_bank_df cleaning

In [68]:
world_bank_df

,Country Name,Country Code,Year,Agriculture (% GDP),Ease of Doing Business,Education Expenditure (% GDP),Export (% GDP),GDP,Health Expenditure (% GDP),Import (% GDP),...,Population,Land,Continent Name,Export,Import,Education Expenditure,Health Expenditure,Net Trade,GDP Per Capita,Population Density
0,Afghanistan,AFG,2000,27.501127,40.717968,13.670101,NaN,1.415197e+10,10.902580,NaN,...,19542982.0,652860.0,Asia,NaN,NaN,1.934589e+09,1.542930e+09,NaN,724.145910,29.934415
1,Afghanistan,AFG,2001,27.501127,40.717968,13.670101,NaN,1.415197e+10,10.902580,NaN,...,19688632.0,652860.0,Asia,NaN,NaN,1.934589e+09,1.542930e+09,NaN,718.788917,30.157510
2,Afghanistan,AFG,2002,38.627892,40.717968,13.670101,NaN,3.854235e+09,9.443391,NaN,...,21000256.0,652860.0,Asia,NaN,NaN,5.268779e+08,3.639705e+08,NaN,183.532775,32.166553
3,Afghanistan,AFG,2003,37.418855,40.717968,13.670101,NaN,4.539497e+09,8.941258,NaN,...,22645130.0,652860.0,Asia,NaN,NaN,6.205538e+08,4.058881e+08,NaN,200.462376,34.686043
4,Afghanistan,AFG,2004,29.721067,40.717968,13.670101,NaN,5.220825e+09,9.808474,NaN,...,23553551.0,652860.0,Asia,NaN,NaN,7.136921e+08,5.120832e+08,NaN,221.657662,36.077491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5101,Zimbabwe,ZWE,2018,7.319375,50.509980,19.039841,26.163973,3.415607e+10,4.670418,28.386297,...,15052184.0,390760.0,Africa,8.936585e+09,9.695644e+09,6.503261e+09,1.595231e+09,-7.590586e+08,2269.177012,38.520278
5102,Zimbabwe,ZWE,2019,9.819262,54.469350,22.837985,27.163459,2.183223e+10,3.659765,25.524111,...,15354608.0,390760.0,Africa,5.930390e+09,5.572484e+09,4.986042e+09,7.990086e+08,3.579063e+08,1421.868596,39.294216
5103,Zimbabwe,ZWE,2020,8.772859,49.833418,15.666611,25.917014,2.150970e+10,3.425581,28.733547,...,15669666.0,390760.0,Africa,5.574672e+09,6.180499e+09,3.369841e+09,7.368322e+08,-6.058277e+08,1372.696674,40.100486
5104,Zimbabwe,ZWE,2021,8.849899,49.833418,22.837985,25.411446,2.837124e+10,6.704907,30.901234,...,15993524.0,390760.0,Africa,7.209542e+09,8.767063e+09,6.479419e+09,1.902265e+09,-1.557521e+09,1773.920411,40.929276
5105,Zimbabwe,ZWE,2022,12.069543,49.833418,22.837985,28.908919,2.067806e+10,6.704907,39.540243,...,16320537.0,390760.0,Africa,5.977802e+09,8.176153e+09,4.722451e+09,1.386444e+09,-2.198351e+09,1266.996031,41.766140

In [69]:
world_bank_df.drop('Country Code', axis=1,inplace=True)

In [85]:
world_bank_df['Country Name'].nunique()

215

In [86]:
world_bank_df['Year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021,
       2022], dtype=int64)