# Data Cleaning

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [26]:
gini_df = pd.read_csv("../data/gini_dataset/gini.csv",skiprows=4)
inflation_and_econ_ind_df =pd.read_csv("../data/global_economic_and_human_dev/Economic_Indicators_And_Inflation.csv")
global_inflation_df = pd.read_csv("../data/global_inflation/global_inflation_data.csv")
education_df = pd.read_csv("../data/How_Education_Drives_Economic_Growth/education-economy-data.csv")
socio_df = pd.read_csv("../data/Socio_Economic_Country_Profiles/soci_econ_country_profiles.csv")

### Dataframe lists
1. [gini_df](#gini_df-cleaning)
2. [inflation_and_econ_ind_df](#inflation_and_econ_ind_df-cleaning)
3. [global_inflation_df](#global_inflation_df-cleaning)
4. [education_df](#education_df-cleaning)
5. [socio_df](#socio_df-cleaning)

### gini_df cleaning

In [27]:
gini_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,Unnamed: 69
0,Aruba,ABW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,51.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,26.7,44.2,44.6,40.2,57.4,49.4,38.3,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,51.5,NaN,NaN,NaN
265,Zimbabwe,ZWE,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,44.3,NaN,50.3,NaN,NaN,NaN,NaN,NaN,NaN

### inflation_and_econ_ind_df cleaning

In [28]:
inflation_and_econ_ind_df

,Country,Year,GDP (in billion USD),Inflation Rate (%),Unemployment Rate (%),Economic Growth (%)
0,USA,2010,15000.0,1.64,9.63,2.55
1,USA,2011,15500.0,3.16,8.94,1.53
2,USA,2012,16000.0,2.07,8.10,2.28
3,USA,2013,16500.0,1.50,7.70,1.84
4,USA,2014,17000.0,1.62,7.25,2.53
...,...,...,...,...,...,...
299,Pakistan,2021,296.0,8.90,5.00,5.70
300,Pakistan,2022,350.0,12.30,5.00,6.00
301,Pakistan,2023,400.0,20.00,5.00,4.00
302,Pakistan,2024,450.0,25.00,5.00,3.00
303,Pakistan,2025,500.0,20.00,5.00,3.20

### global_inflation_df cleaning

In [29]:
global_inflation_df

,country_name,indicator_name,1980,1981,1982,1983,1984,1985,1986,1987,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Annual average inflation (consumer prices) rate,13.4,22.2,18.2,15.9,20.4,8.7,-2.1,18.4,...,-0.66,4.38,4.98,0.63,2.3,5.44,5.06,13.71,9.1,NaN
1,Albania,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.90,1.30,2.00,2.00,1.4,1.60,2.00,6.70,4.8,4.0
2,Algeria,Annual average inflation (consumer prices) rate,9.7,14.6,6.6,7.8,6.3,10.4,14.0,5.9,...,4.80,6.40,5.60,4.30,2.0,2.40,7.20,9.30,9.0,6.8
3,Andorra,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.10,-0.40,2.60,1.00,0.5,0.10,1.70,6.20,5.2,3.5
4,Angola,Annual average inflation (consumer prices) rate,46.7,1.4,1.8,1.8,1.8,1.8,1.8,1.8,...,9.20,30.70,29.80,19.60,17.1,22.30,25.80,21.40,13.1,22.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,Vietnam,Annual average inflation (consumer prices) rate,25.2,69.6,95.4,49.5,64.9,91.6,453.5,360.4,...,0.60,2.70,3.50,3.50,2.8,3.20,1.80,3.20,3.4,3.4
192,West Bank and Gaza,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.40,-0.20,0.20,-0.20,1.6,-0.70,1.20,3.70,3.4,2.7
193,Yemen,Annual average inflation (consumer prices) rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.00,21.30,30.40,33.60,15.7,21.70,31.50,29.50,14.9,17.3
194,Zambia,Annual average inflation (consumer prices) rate,11.7,14.0,12.5,19.7,20.0,37.4,48.0,43.0,...,10.10,17.90,6.60,7.50,9.2,15.70,22.00,11.00,10.6,9.6
195,Zimbabwe,Annual average inflation (consumer prices) rate,NaN,5.6,0.6,-8.5,-1.9,-16.0,10.7,12.8,...,-2.40,-1.60,0.90,10.60,255.3,557.20,98.50,193.40,314.5,222.4

### education_df cleaning

In [31]:
education_df

,Country,Literacy Rate,Physician Density,GDP (Current USD),GDP Growth (% Annual),GDP per Capita (Current USD),GDP per Capita Category,Unemployment Rate (%),Continent
0,Afghanistan,43.0,0.28,1.723305e+10,2.710887,415.707417,Very Low,13.991,Asia
1,Albania,98.1,1.20,2.354718e+10,3.936625,8575.171134,Mid,10.108,Europe
2,Algeria,81.4,1.72,2.476260e+11,4.100000,5364.027950,Low,11.701,Africa
3,Andorra,100.0,3.33,3.785067e+09,2.583555,46812.448450,High,3.700,Europe
4,Angola,71.1,0.21,8.482465e+10,1.001289,2308.159767,Low,14.537,Africa
...,...,...,...,...,...,...,...,...,...
186,Venezuela,97.1,1.92,3.888648e+11,1.152460,13147.680842,Mid,8.000,South America
187,Vietnam,95.4,0.82,4.297170e+11,5.046431,4282.088517,Low,1.645,Asia
188,Yemen,54.1,0.31,3.387656e+10,-4.408199,477.409029,Very Low,17.091,Asia
189,Zambia,87.4,1.19,2.757796e+10,5.367943,1330.727806,Very Low,5.905,Africa
190,Zimbabwe,89.0,0.21,3.523137e+10,5.336730,2156.034004,Low,8.759,Africa

### socio_df cleaning

In [25]:
socio_df

,Unnamed: 0,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),...,"Inflation, consumer prices (annual %)","Life expectancy at birth, female (years)","Life expectancy at birth, male (years)","Life expectancy at birth, total (years)",Military expenditure (% of GDP),"Population, female","Population, male",Tax revenue (% of GDP),"Taxes on income, profits and capital gains (% of revenue)",Urban population (% of total population)_y
0,0,Argentina,SouthAmerica,2780400,44271,16.2,95.9,632343,2.4,14564.5,...,NaN,79.726,72.924,76.372000,0.856138,22572521.0,21472290.0,10.955501,12.929913,91.749
1,1,Australia,Oceania,7692060,24451,3.2,99.3,1230859,2.4,51352.2,...,1.948647,84.600,80.500,82.500000,2.007966,12349632.0,12252228.0,21.915859,64.110306,85.904
2,2,Austria,WesternEurope,83871,8736,106.0,96.2,376967,1.0,44117.7,...,2.081269,84.000,79.400,81.643902,0.756179,4478340.0,4319226.0,25.355237,27.024073,58.094
3,3,Belarus,EasternEurope,207600,9468,46.7,87.0,54609,-3.9,5750.8,...,6.031837,79.200,69.300,74.129268,1.162417,5077542.0,4420722.0,13.019006,2.933101,78.134
4,4,Belgium,WesternEurope,30528,11429,377.5,97.3,455107,1.5,40277.8,...,2.125971,83.900,79.200,81.492683,0.910371,5766141.0,5609017.0,23.399721,33.727746,97.961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,61,United Arab Emirates,WesternAsia,83600,9400,112.4,262.4,370296,3.8,40438.8,...,1.966826,79.008,76.966,77.647000,NaN,2891723.0,6595480.0,0.066457,NaN,86.248
62,62,United Kingdom,NorthernEurope,242495,66182,273.6,97.4,2858003,2.2,44162.4,...,2.557756,83.100,79.500,81.256098,1.771094,33464674.0,32594185.0,25.523504,33.227524,83.143
63,63,United States of America,NorthernAmerica,9833517,324460,35.5,98.0,18036648,2.6,56053.8,...,2.130110,81.100,76.100,78.539024,3.109010,164193686.0,160791853.0,11.764267,49.600037,82.058
64,64,Venezuela (Bolivarian Republic of),SouthAmerica,912050,31977,36.3,99.0,344331,-6.2,11068.9,...,NaN,76.194,68.523,72.246000,0.487844,14843348.0,14547061.0,NaN,NaN,88.183
65,65,Vietnam,South-easternAsia,330967,95541,308.1,98.0,193241,6.7,2067.9,...,3.520257,79.366,71.124,75.241000,2.267970,47405623.0,47191019.0,NaN,NaN,35.213